<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:a="http://xmlns.jcp.org/jsf/passthrough">
<h:head>
    <meta name="viewport" content="width=device-width, initial-scale=1" http-equiv="X-UA-Conpatible"/>
    <title>#{taskController.currentTask.name}</title>

    <f:metadata>
        <f:viewParam name="id" value="id"/>
        <f:viewAction action="#{taskController.onload(id)}"/>
    </f:metadata>
</h:head>
<h:body>
    <h:form>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td width="160" nowrap="nowrap" style="text-align: center">
                    <h3>TASK-MANAGER</h3>
                </td>
                <td width="100%">
                    <p:menubar>
                        <p:submenu label="Project" icon="pi pi-pencil">
                            <p:menuitem value="New" action="pretty:projectAdd" icon="pi pi-briefcase"/>
                            <p:menuitem value="List" action="pretty:projectList" icon="pi pi-briefcase"/>
                            <p:menuitem value="Clear" action="#{projectController.clear()}" icon="pi pi-times"/>
                        </p:submenu>
                        <p:submenu label="Task" icon="pi pi-pencil">
                            <p:menuitem value="New" action="pretty:taskAdd" icon="pi pi-briefcase"/>
                            <p:menuitem value="List" action="pretty:taskList" icon="pi pi-briefcase"/>
                            <p:menuitem value="Clear" action="#{taskController.clear()}" icon="pi pi-times"/>
                        </p:submenu>
                        <f:facet name="options">
                            <p:commandButton type="button" value="Logout" icon="pi pi-home"/>
                        </f:facet>
                    </p:menubar>
                </td>
            </tr>
        </table>
    </h:form>
    <br/>

    <h:form style="margin-left: 1%">
        <table cellpadding="0" cellspacing="0" border="0" style="padding-left: 160px">
            <tr>
                <td width="150" height="40" nowrap="nowrap" style="text-align: left">
                    <p:outputLabel for="taskName" value="Name:"/>
                </td>
                <td>
                    <p:inputText id="taskName" value="#{taskController.currentTask.name}" style="width: 300px"/>
                </td>
            </tr>

            <tr>
                <td width="100" height="40" nowrap="nowrap" style="text-align: left">
                    <p:outputLabel for="taskDescription" value="Description:"/>
                </td>
                <td>
                    <p:inputText id="taskDescription" value="#{taskController.currentTask.description}" style="width: 300px"/>
                </td>
            </tr>

            <tr>
                <td width="100" height="40" nowrap="nowrap" style="text-align: left">
                    <p:outputLabel for="projectName" value="Project name:"/>
                </td>
                <td>
                    <p:selectOneMenu id="projectName" value="#{taskController.currentTask.projectId}" style="width: 300px">
                        <f:selectItems value="#{projectController.list()}" var="project"
                                       itemValue="#{project.id}" itemLabel="#{project.name}"/>
                    </p:selectOneMenu>
                </td>
            </tr>

            <tr>
                <td width="100" height="40" nowrap="nowrap" style="text-align: left">
                    <p:outputLabel for="dateBegin" value="Date begin:"/>
                </td>
                <td>
                    <p:inputText a:type="date" id="dateBegin" value="#{taskController.currentTask.dateBegin}" style="width: 300px">
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </p:inputText>
                </td>
            </tr>

            <tr>
                <td width="100" height="40" nowrap="nowrap" style="text-align: left">
                    <p:outputLabel for="dateEnd" value="Date end:"/>
                </td>
                <td>
                    <p:inputText a:type="date" id="dateEnd" value="#{taskController.currentTask.dateEnd}" style="width: 300px">
                        <f:convertDateTime pattern="yyyy-MM-dd"/>
                    </p:inputText>
                </td>
            </tr>

            <tr>
                <td width="100" height="40" nowrap="nowrap" style="text-align: left">
                    <p:outputLabel for="taskReadinessStatus" value="Status:"/>
                </td>
                <td>
                    <p:selectOneMenu id="taskReadinessStatus" value="#{taskController.currentTask.readinessStatus}" style="width: 300px">
                        <f:selectItems value="#{taskController.readinessStatuses}" var="status"
                                       itemValue="#{status}" itemLabel="#{status.displayName}"/>
                    </p:selectOneMenu>
                </td>
            </tr>
        </table>
        <br/>

        <table cellpadding="0" cellspacing="0" border="0" style="padding-left: 160px">
            <tr>
                <td>
                    <p:commandButton value="Update" action="#{taskController.save(taskController.currentTask)}"/>
                </td>
                &nbsp;&nbsp;
                <td>
                    <p:commandButton value="Cancel" action="pretty:projectList"/>
                </td>
            </tr>
        </table>
    </h:form>
</h:body>
</html>